// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';
@import '../_modules/listItem/listItem';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background: rgb(242, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.header__logo {
  height: 56px;
  display: flex;
  flex-direction: row;
}

.header__logoImg {
  padding: 18px 14px 18px 16px;
}

.header__search {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.header__search--bar {
  display: flex;
  position: relative;
  flex-direction: row;
}

.header__search--bar--searchinput {
  width: 240px;
}

.header__search--barInput{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 300px;
}


.header__search--bar--searchinput {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__empty {
  height: 56px;
}

.header__search--button {
  border: 1px solid rgb(159, 158, 158);
  background-color: rgb(227, 226, 226);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 30px;
  width: 64px;
  margin: 0;
}


/* MAIN */

.layout__columns {
  display: flex;
  justify-content: center;
}

.secondary {
  width: 426px;
  padding-top: 30px;
  padding-right: 30px;
}
.primary {

  width: 70vw;
  padding: 30px;
}



.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: calc((360 / 640) * 100%);
  position: relative;
  
}

.video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}