// link styles

// unvisited link
// a:link {
//     color: #ff0000;
// }

// // visited link
// a:visited {
//     color: #00ff00;
// }

// // mouse over link
// a:hover {
//     color: #ff00ff;
// }

// // selected link
// a:active {
//     color: #0000ff;
// }

.sideContainer {
    display: flex;
    flex-direction: row;
    
}

.sideContainer__inner {
    display: flex;
    flex-direction: row;
}

.sideContainer__imgTime {
    margin-right: 8px;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: flex-end;   
    position: relative;

    .sideContainer__timeOverlay {
        position: absolute;
        background-color: black;
        color: white;
        padding: 3px 4px;
        margin: 4px ;
        border-radius: 4px;
    }
    
}


.sideContainer__textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .sideContainer__title {
        margin: 0 0 4px 0;
        font-size: 15px;
        letter-spacing: .3px;
        font-weight: 500;
}
}

.sideContainer__ownerIconWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    .sideContainer__ownerIcon {
        padding-left: 4px;
        margin: 0;
}
    .sideContainer__owner {
    margin: 0;
    color: gray;
    font-size: 14px;
}
}

.sideContainer__data {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 0;

    .sideContainer__dataSpot {
        background-color: gray;
        padding-right: 4px;
        margin: 0;
    }
    
    .sideContainer__dataViews {
        margin: 0;
        color: gray;
        font-size: 14px;
    }

    .sideContainer__dataTime {
        margin: 0;
        color: gray;
        font-size: 14px;
    }
}

